{% extends 'catalog/base.html' %}

{% block title %}Редактор профиля{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="card shadow-sm rounded-4">
                <div class="card-header bg-primary text-white py-3">
                    <h4 class="mb-0 d-flex align-items-center">
                        <i class="bi bi-plus-circle me-2"></i>
                        Редактор профиля
                    </h4>
                </div>
                <div class="card-body p-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                        <div class="d-flex gap-2 pt-3">
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                <i class="bi bi-check-circle"></i> Сохранить
                            </button>
                            <a href="{% url 'users:profile_detail' user.pk %}" class="btn btn-lg btn-block btn-outline-secondary">
                                <i class="bi bi-x-circle"></i> Отмена
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}