<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow great-vibes-regular">
        <h5 class="my-0 mr-md-auto font-weight-normal">KoreDjango</h5>
        <nav class="ms-5 d-flex justify-content-between w-100">
            <div>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Главная</a>
                <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_list' %}">Список товаров</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_add' %}">Добавить товар</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
            </div>
            <div>
                <a class="p-2 btn btn-outline-primary" href="{% url 'blogs:blog_home' %}">Наши БЛОГИ</a>
            </div>
            {% if user.is_authenticated %}
            <ul>
                <a class="fs-5">Мы рады вам, {{ user.username }}!</a>
                <form method="post" action="{% url 'users:logout' %}">
                    {%csrf_token%}
                    <button type="submit" class="p-2 btn btn-outline-primary">Выйти</button>
                </form>
<!--                <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выход</a>-->
            </ul>
            {% else %}
            <ul>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
            </ul>
                {% endif %}

        </nav>
    </div>
</header>
